---
layout: default
title: Obaida says Hi
published: true
---
            
<div class="home" id ="home">
   {% include githublogo.html %}
   <p class="intro">
	<a href="/assets/files/resume-obaida-2021-june.pdf" alt="Abu Obaida Resume" align="middle"> Download Resume (pdf-updated Auggust 2021).</a><br>
	 <a href="https://ijcode.github.io">Bootstrapped Resume ijcode.github.io</a><br>
        
        Thanks for stopping by. I am Software Development Engineer based in Seattle at Amazon Web Services (AWS). I am working on AWS Amazon Aurora where we are building worlds most avilable and robust distributed cloud database.
       My work Amazon Aurora focuses on resource management and serververless architecture.
	Previously, I worked on performance modeling of high-performance computing systems and applications. 
     I have experience with distributed systems, parallel systems, performance modeling, and simulation. </p>
        <p>Research Interests: distributed systems, performance modeling, HPC, simulation, PDES, distributed systems, software defined networking, emulation.</p>
        <h3>Experience</h3>
        <ul>
             <li>Software Development Engineer 2, January 2019 -- 2022.
                  <ul>
                    <li>Amazon Inc., Amazon Web Services (AWS), Seattle, WA, US.</li>
                    <li>Job responsibility: Amazon Aurora PostgreSQL database performance, capacity and availability related projects.</li>
                  </ul>
             </li>
             <li>Graduate Research Intern, Summer 2015.
                  <ul>
                    <li>Los Alamos National Laboratory (LANL), Los Alamos, New Mexico, US.</li>
                    <li>Job responsibility: Improving the accuracy of parallel application performance prediction by implementing CRAY's Gemini torus interconnection.</li>
                  </ul>
             </li>
	     <li>Research Assistant, Summer 2013 - Fall 2018
                  <ul>
                    <li>Computer Science, Florida International university (FIU), Miami, FL, US.</li>
                    <li>Job responsibility: Real-time distributed simulation and emulation, Parallel application and system performance prediction.</li>
                  </ul>
             </li>
        </ul>

        <h3>Education</h3>
        <ul>
             <li>Ph. D. Candidate, Till Fall 2018, <a href="https://www.fiu.edu">Florida International University</a>- FIU, Miami, FL, US.</li>
             <li>M. Sc. in Computer Science, Spring 2018, FIU, Miami, FL, US.</li>
             <li>B. S. in Computer Science and Engineering, 2011, <a href="http://duet.ac.bd">Dhaka University of Engineering and Technology</a>, Bangladesh.</li>
        </ul>
        <p>

        <h3> Publications</h3>
        <ol>
           <li><b>[2018 ACM SIGSIM PADS]</b> Mohammad Abu Obaida, Jason Liu, Gopinath Chennupati, Nandakishore Santhi and  Stephan Eidenbenz, Parallel Application Performance Prediction Using Analysis Based Models, 2018 Principles of Advanced Discrete Simulation (PADS), Rome,Italy, 23 May 2018.
           </li>
           <li><b>[2017 Wintersim]</b> Mohammad Abu Obaida and Jason Liu, Simulation of HPC Job Scheduling and Large-Scale Parallel Workloads, 2017 Winter Simulation Conference (WSC 2017), Las Vegas, NV, December 2017.
           </li>
           <li><b>[2017 SIMUTOOLS]</b> Mohammad Abu Obaida and Jason Liu, On Improving Parallel Real-Time Network Simulation for Hybrid Experimentation of Software Defined Networks, 10th EAI International Conference on Simulation Tools and Techniques (SIMUTOOLS 2017), Hong Kong, September 2017.
           </li>
           <li><b>[2016 ACM SIGSIM PADS]</b> Kishwar Ahmed, <b>Mohammad Obaida</b>, Jason Liu, Stephan Eidenbenz, Nandakishore Santhi, Guillaume Chapuis, An Integrated Interconnection Network Model for Large-Scale Performance Prediction, Proceedings of the 2016 annual ACM Conference on SIGSIM Principles of Advanced Discrete Simulation, pp 177-187, ACM SIGSIM PADS, May 15, 2016.
           </li>
           <li><b>[2014 GREE]</b> Jason Liu, <b>Mohammad Abu Obaida</b>, Fernando Dos Santos, Toward PrimoGENI Constellation for Distributed At-Scale Hybrid Network Test, 2014 Third GENI Research and Educational Experiment Workshop (GREE). March 19, 2014. 
           </li>
           <li><b>[2011 IJCA]</b> <b>Mohammad Abu Obaida</b>, Md. Sanaullah Miah and Md. Abu Horaira, Random Early Discard (RED-AQM) Performance Analysis in Terms of TCP Variants and Network Parameters: Instability in High-Bandwidth-Delay Network. International Journal of Computer Applications 27(8):40-44, August 2011.
           </li>
           <li><b>[2011 IJCA]</b> <b>Mohammad Abu Obaida</b>, Md. Jakir Hossain, Momotaz Begum and Md. Shahin Alam. Article: Multilingual OCR (MOCR): An Approach to Classify Words to Languages. International Journal of Computer Applications 32(1):46-53, October 2011.
           </li>
       </ol>

<!--
<img class="img-circle" src="/assets/img/profile_picture_2016.jpg" alt="Obaida" align="middle">
<br>
Code sample is <code>here</code>.
<br>
-->

{% include contact.html %}

<h3> Me, my village and my country...</h3>
<table style="width:100%">
  <tr>
    <td width="50%" border="0">
        <figure>
               <img src="/assets/img/profile_picture_2016.jpg" alt="Obaida" align="middle">
         </figure>
    </td>
    <td width="50%">
        <figure>
               <img src="/assets/img/touring.jpg" alt="Sunrise in Sandwip" align="middle">
        </figure>
    </td>
  </tr>

  <tr>
    <td>
      Photo taken at Seven Miles Bridge, Florida Keys
    </td>
    <td>
      Sunrise at Sandwip, photo captured by John Stanlake. 
      I spent a good part of my childhood in Sandwip, an island in Bay of Bengal, Bangladesh.
    </td>
  </tr>
</table>



<br><p><small>
    The page is heavily customized from a github.io Jekyll theme developed by Brian Maier Jr. The contact form is provided by formspree.io.<br>
</small></p>

</div>
