   <div class="container" align="center">
      <div class="contactcard">
         <br>
           <p>Would you like to get in touch? Shoot me an email. </p>
           <form class="formembed" action="http://formspree.io/obaida007@gmail.com" method="POST">
               <input type="text" id="name" name="name" class="full-width" placeholder="Name"><br>
               <input type="email" id="email" name="_replyto" class="full-width" placeholder="youremail@example.com"><br>
               <textarea name="message" id="message" cols="30" rows="10" class="full-width" placeholder="Type your message here...."></textarea><br>
               <input type="submit" value="Send" class="button">
           </form >
      </div>
   </div>
